.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  width:100%
}

.form-group {
  margin: 10px auto;
}


.imgArt {
  width: 100%;
  display: block;
}

.block {
  padding: 10px 0;
}

.links {
  display: flex;
  justify-content: center;
}

.link {
  display: block;
  margin: 0 10px;
  width: 20%;
  float: left;
}


.btnDark, .btnLight {
  width: 100%;
  margin: 10px 0;
  border-radius: 20px;
}


.inpt {
  border:1px solid rgb(121, 121, 121);
  float: left;
  width: 48%;
  margin: 5px 5px 5px 0;
}

.carouselBox {
  margin: 10px auto;
}

.subtitle {
  color:#ff9a35
}

input {
  background: #CCCCCC;
  padding: 5px;
  border-radius: 10px;
}